<div class="hero min-h-screen bg-base-200">
    <div class="hero-content">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Prijava natjecatelja</h1>

            {{#if result.display_form}}
            <form method="post" action="/competitions">
                <div class="py-6">
                    <div>
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <span class="label-text">Ime i prezime</span>
                            </div>
                            <input type="text" name="name" placeholder="Upišite svoje ime i prezime"
                                class="input input-bordered w-full max-w-xs" required="" />
                        </label>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Potvrdi" />
                <input type="reset" class="btn btn-neutral" value="Poništi" />
            </form>
            {{/if}}

            {{#if result.validation_error}}
            {{> validation_error }}
            {{/if}}

            {{#if result.database_error}}
            {{> database_error }}
            {{/if}}

            {{#if result.success}}
            <div class="mt-4">
                <div class="card w-96 bg-primary text-primary-content">
                    <div class="card-body">
                        <h2 class="card-title">Uspjeh!</h2>
                        <p>
                            Uspješno ste se Prijavili na natjecanje.
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>